/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-image: linear-gradient(45deg, #42439e,
  #5dc2ee);
  height: 100vh;
  width: 100%;

}

.interface {
  max-width: 1280px;
  margin: 0 auto;

}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color:#5355ca;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
color: rgb(0, 0, 0);
}

/* ESTILO DO CABEÇALHO */
header {
  padding: 40px 4%;
}

header>.interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #ffffff;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  transition: .2s;
  font-size: 20px;
}

header a:hover {
  color: #ffffff;
  transform: scale(1.20);

}

.img-topo-site {
  align-items: center;
  justify-content: center;
  flex-direction: column
}

header nav ul {
  list-style-type: none;
}

.Menu-desktop li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 45px;
}

.Menu-desktop li span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: -40px;
  padding-left: 10px;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
  transform: scale(1.55s);
}

/* ESTILO DO TOPO DO SITE */

section .topo-do-site {
  padding: 40px 4%;

}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  font-weight: bold;
}

.topo-do-site .txt-topo-site h1 span {
  color: #ffffff;
  font-size: 84px;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 1000ms ease infinite alternate;
}
.hope h1 {
  height: 100%;
  
  font-size: 35px;
  font-weight: bold;
  color: rgb(0, 0, 0);

  
}


.topo-do-site .txt-topo-site p {
  color: #ffffff;
  margin: 40px 0px;
  font-family: sans-serif;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;

  }
}